In [6]:
import numpy as np
import matplotlib.pyplot as plt
import json
import pandas as pd

In [42]:
with open("results/expt1.json", "r") as f: results = json.load(f)

In [84]:
results.keys()

dict_keys(['dataset_meta_params', 'estimator_params', 'hyperSphere', 'swissRoll3Sph'])

In [43]:
df_basic = pd.DataFrame(results['estimator_params']['est_params'])
del df_basic['metric'], df_basic['smooth']

In [44]:
df_basic

  nbhd_type  n_neighbors  radius
0       knn          5.0     NaN
1       knn         10.0     NaN
2       eps          NaN    0.75
3       eps          NaN    1.00

In [91]:
i = 1
ds = 'hyperSphere'
print(results[ds][i]['dataset_parameters'])

{'n': 1000, 'd': 4}

In [92]:
df = df_basic.assign(est_dim_mean=[round(x[0],2) for x in results[ds][i]['estimated_dim']])
df = df.assign(est_dim_std=[round(x[1],2) for x in results[ds][i]['estimated_dim']])
df = df.assign(frac_empty_nbhd=[round(x[2],3) for x in results[ds][i]['estimated_dim']])

In [93]:
df

  nbhd_type  n_neighbors  radius  est_dim_mean  est_dim_std  frac_empty_nbhd
0       knn          5.0     NaN          5.25         0.13              0.0
1       knn         10.0     NaN          4.42         0.06              0.0
2       eps          NaN    0.75          3.94         0.02              0.0
3       eps          NaN    1.00          3.77         0.01              0.0

In [83]:
results.keys()

dict_keys(['dataset_meta_params', 'estimator_params', 'hyperSphere', 'swissRoll3Sph'])